<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-5 offset-1 col-sm-2">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a >Home</a></li>
          <li><a >About</a></li>
          <li><a >Menu</a></li>
          <li><a >Contact</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-5">
        <h5>Notre Addresse</h5>
        <address>
          67, rue Saint jacques, Paris France<br>
          <i class="fa fa-phone fa-lg"></i> +33 6 46 60 00 82<br>
          <i class="fa fa-fax fa-lg"></i> +33 00 00 00 00<br>
          <i class="fa fa-envelope fa-lg"></i> <a href="mailto:societe@adventium.fr">societe@adventium.fr</a>
        </address>
      </div>
      <div class="col col-sm-4 align-self-center">
        <div style="text-align: center">
          <a class="btn btn-danger" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
          <a class="btn btn-primary"  href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
          <a class="btn btn-primary" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
          <a class="btn btn-info" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
          <a class="btn btn-danger" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
          <a class="btn btn-success" href="mailto:societe@adventium.fr"><i class="fa fa-envelope-o"></i></a>
        </div>
      </div>
    </div>

    <div class=" justify-content-center text-center">
      <div class="col-auto">
        <p style="font-size: 90%; font-family: sans-serif;">© Copyright 2017 Adventium Technologies</p>
      </div>
    </div>
  </div>
</footer>
