<div class="row">
  <div class="col-xs-12 col-md-12" class="form-group">
    <form [formGroup]="userForm" #f="ngForm" >
      <div class="row">
        <div class="col-xs-12">

            <label for="firstName">First name</label>
            <input type="text"
                   name="firstName"
                   id="firstName"
                   class="form-control"
                   formControlName="firstName"
            >

          </div>
        </div>

      <div class="row">
        <div class="col-xs-12">

        <label for="lastName">Last name</label>
        <input type="text"
               name="lastName"
               id="lastName"
               class="form-control"
               formControlName="lastName"
        >

       </div>
      </div>

      <div class="row">
        <div class="col-xs-12">

          <label for="birthDate">Birth date</label>
          <input type="text"
                 name="birthDate"
                 id="birthDate"
                 class="form-control"
                 formControlName="birthDate"
          >

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">

          <label for="email">Email</label>
          <input type="text"
                 name="email"
                 id="email"
                 class="form-control"
                 formControlName="email"
          >

        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="button" (click)="onSave()">Save</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>

        </div>

      </div>
    </form>
   </div>

</div>
