.carousel-item {
  height: 300px;
}

.carousel-item img {
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 300px;
}
#carouselButtons {
  right: 0px;
  position: absolute;
  bottom: 0px;

}
